<link rel="stylesheet" href="/css/header.css" type="text/css"/>
<script src="/js/menuToggle.js"></script>
<div class="header-container">
  <div class="home-container">
    <a href="/">
      <img class="home-icon" src="/images/home_icon.png">
    </a>
  </div>
  <div class="options-container">
    <img class="home-icon" src="/images/options_icon.png">
  </div>
  <div class="filter-container">
    <img class="home-icon" src="/images/filter_icon.png">
  </div>
  <div class="search-container">
    <img class="search-icon" src="/images/search_icon.png">
  </div>
</div>
