<link rel="stylesheet" href="/css/header.css" type="text/css"/>
<script src="/js/menuToggle.js"></script>
<div class="header-container">
  <div class="home-container">
    <a href="/">
      <img class="home-icon" src="/images/home_icon.png">
      <p>Home</p>
    </a>
  </div>
  <div class="filter-container">
    <a href="/recipes/filter">
      <img class="filter-icon" src="/images/filter_icon.png">
      <p>Filter</p>
    </a>
  </div>
  <div class="search-container">
    <a href="/recipes/search">
      <img class="search-icon" src="/images/search_icon.png">
      <p>Search | </p>
    </a>
  </div>
  <div class="add-container">
    <a href="/recipes/add">
      <img class="add-icon" src="/images/add_icon.png">
      <p>Add | </p>
    </a>
  </div>
    <div class="login-container">
    <a href="/login">
      <img class="login-icon" src="/images/login_icon.png">
      <p>Login | </p>
    </a>
  </div>
</div>
