<link rel="stylesheet" href="/css/login.css" type="text/css"/>
<div class="login-div">
  <form id="loginForm" action="/login" method="POST">
    <p>
      Login with your email below:<br>
    </p>
    <label for="username">Username: </label><input type="text" name="username" /><br>
    <label for="password">Password: </label><input type="password" name="password" /><br>
    <br>
    <button type="submit" class="login-button">LOGIN</button>
  </form>
</div>
