<link rel="stylesheet" href="/css/search.css" type="text/css"/>
<div class="search-div">
  <form id="searchForm" action="/recipes/search" method="POST">
    <p>
      Search for recipes that include:<br>
      <span class="hint">(separate keywords with a space)</span>
    </p>
    <input type="text" name="searchParams" />
    <br>
    <br>
    <button type="submit" class="search-button">SEARCH</button>
  </form>
</div>
