<link rel="stylesheet" href="/css/success.css" type="text/css"/>
<div class="success-div">
  <p>You have successfully added a recipe.  If the page does not redirect within a few seconds please click below to havigate back to the home page.</p>
</div>
