<html lang="en">
  <head>
    <title>Recipe App</title>
    <link rel="stylesheet" href="/css/common.css" type="text/css"/>
  </head>
  <body>
    <%- include('components/header') %>
  </body>
</html>
