<html lang="en">
  <head>
    <title>Login Success</title>
    <link rel="stylesheet" href="/css/common.css" type="text/css"/>
  </head>
  <body>
    You've logged in.
    <%- message %>
  </body>
</html>
