<html lang="en">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/common.css" type="text/css"/>
  </head>
  <body>
    <%- include('components/header') %>
    <%- include('components/formWrapper', {login: true}) %>
  </body>
</html>
