@media (max-device-width: 479px) {
    select
    {
	font-size: 3em;
    }

    label
    {
	font-size: 3em;
    }
    
    .filter-div
    {
	text-align: left;
	padding: 10px;
    }

    .cuisine-filter
    {
	width: 100%;
	margin-bottom: 5px;
    }

    .course-filter
    {
	width: 100%;
	margin-bottom: 5px;
    }

    .ingredient-filter
    {
	width: 100%;
	margin-bottom: 5px;
    }

    .filter-button
    {
	font-size: 3em;
    }
}

@media (min-device-width: 480px) {
    .filter-div
    {
	text-align: left;
	padding: 10px;
	width: calc(34% - 20px);
	display: inline;
	float: left;
    }

    .cuisine-filter
    {
	width: 100%;
	margin-bottom: 5px;
    }

    .course-filter
    {
	width: 100%;
	margin-bottom: 5px;
    }

    .ingredient-filter
    {
	width: 100%;
	margin-bottom: 5px;
    }
}