@media (max-device-width: 479px) {
    input
    {
	font-size: 3em;
    }

    .search-div
    {
	text-align: center;
    }

    .hint
    {
	font-size: 0.75em;
    }
    
    .search-button
    {
	font-size: 3em;
    }
}

@media (min-device-width: 480px) {
    .search-div
    {
	display: inline;
	float: left;
	width: calc(34% - 20px);
	text-align: center;
	padding: 10px;
    }

    .search-button
    {
	font-size: 1em;
    }
}