@media (max-device-width: 479px) {
    .search-div
    {
	text-align: center;
    }

    .hint
    {
	font-size: 0.75em;
    }
    
    .search-button
    {
	font-size: 0.5em;
    }
}

@media (min-device-width: 480px) {
    .search-div
    {
	padding-top: 20px;
	text-align: center;
	display: inline;
	float: left;
	width: 34%;
    }

    .search-button
    {
	font-size: 1em;
    }
}